/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Hero Section Styles */
.hero {
    background: url('../images/hero-bg.jpg') no-repeat center center/cover;
    color: rgb(12, 2, 88); /* Updated to new blue color */
    text-align: center;
    padding: 100px 20px;
}
.hero h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.5rem; /* Increased font size */
    font-weight: 700; /* Bold font weight */
    margin-bottom: 20px; /* Increased margin */
}

.hero p {
    font-size: 1.8rem; /* Increased font size */
    font-weight: 300; /* Light font weight */
    margin-top: 0; /* Removed top margin */
}

/* Main Content Styles */
main.content {
    padding: 20px;
}

.club-info {
    background-color: #00092c; /* Updated to new blue color */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

.club-info h2 {
    font-family: 'Orbitron', sans-serif;
    color: #00F3FF; /* Neon cyan color */
}

.members-list {
    background-color: #00092c; /* Updated to new blue color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

.members-list h2 {
    font-family: 'Orbitron', sans-serif;
    color: #00F3FF; /* Neon cyan color */
}

.member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #00092c; /* Updated to new blue color */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

.member img {
    border-radius: 50%;
    margin-right: 20px;
}

.member-info {
    flex: 1;
}

.member-info strong {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.member-info .role {
    font-size: 1rem;
    color: #00F3FF; /* Neon cyan color */
    margin-bottom: 10px;
}

.linkedin-button {
    background-color: #0077B5; /* LinkedIn blue color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 10px; /* Add margin to separate from text */
}

.linkedin-button:hover {
    background-color: #005582; /* Darker LinkedIn blue */
}

