:root {
    --tech-blue: #0A1A2F;
    --neon-cyan: #00F3FF;
    --cyber-purple: #6C00FF;
    --metal-gray: #2A2A2A;
    --plasma-pink: #FF00FF;
}

header {
    background-color: #00092c; /* Updated to new blue color */
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between logo and nav */
    position: relative;
}

.logo-container img {
    width: 150px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #00F3FF; /* Neon cyan color */
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FF00FF; /* Plasma pink color on hover */
}

footer {
    background-color: #00092c; /* Updated to new blue color */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.social-icons {
    margin-top: 10px;
    text-align: center;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007bff;
    transform: scale(1.2);
}