<header>
    <div class="logo-container">
        <img src="../images/dark blue lLogo.png" alt="Drones Club Logo" class="logo">
        <link rel="stylesheet" href="../CSS/partials.css">
    </div>
    <nav class="menu-container">
        <button class="menu-button">
            <span class="menu-icon"></span>
        </button>
        <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="about">About the club</a>
            <a href="events">Events</a>
            <a href="team">The Team</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdLchBrusx-y3Z20fE3PcLts4jwCf09q52Xy9MA4TTXlvs6Uw/viewform">Join Us</a>
        </div>
    </nav>
    <script src="../JS/menu.js"></script>
</header>