<header>
    <div class="logo-container">
        <a href="/">
            <img src="../images/dark blue lLogo.png" alt="Drones Club Logo" class="logo">
        </a>
        <link rel="stylesheet" href="../CSS/partials.css">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    </div>
    <nav class="menu-container">
        <button class="menu-button" aria-label="Toggle menu">
            <span class="menu-icon"></span>
        </button>
        <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/#about">About Us</a>
            <a href="/#team">The Team</a>
            <a href="events">Events & Workshops</a>
            <a href="photogallery">Photo Gallery</a>
            <a href="joinus">Join Us</a>
        </div>
    </nav>
    <script src="../JS/menu.js"></script>
</header>